@model eSanjeevaniIcu.Portal.Models.IcuViewModel
@using Microsoft.Extensions.Options;
@using eSanjeevaniIcu.Portal.Controllers;

@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration
@{
    string apiUrl = @OptionsApplicationConfiguration.Value.ApplicationHostUrl;
    ViewData["Title"] = "ICU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="PageBorder">
    <div class="row">
        <div class="col-md-12">
            <div class="table color-table PageTitle">
                @Model.IcuName
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <form>
                <div class="col-md-12">
                    <div class="col-md-4 mb-3">
                        <label>State Name</label>
                        <input type="text" class="form-control" value="@Model.StateName" id="txtStateName" disabled>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Spoke Name</label>
                        <input type="text" class="form-control" value="@Model.SpokeHospitalName" id="txtSpokeName" disabled>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>ICU Name</label>
                        <input asp-for="IcuName" type="text" class="form-control" id="txtIcuName" disabled>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 mb-3">
                        <label>Total Beds</label>
                        <input asp-for="TotalBeds" type="text" class="form-control" id="txtTotalBeds" disabled>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>HDU Count</label>
                        <input asp-for="HduBeds" type="text" class="form-control" id="txtHduBeds" disabled>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>ICU Count</label>
                        <input asp-for="IcuBeds" type="text" class="form-control" id="txtIcuBeds" disabled>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 mb-3">
                        <label>Other</label>
                        <input asp-for="Other" type="text" class="form-control" id="txtOther" placeholder="Bed Type" disabled>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Other Count</label>
                        <input asp-for="Beds" type="text" class="form-control" id="txtBeds" disabled>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <a asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @* <div>
        <div class="row mb-5">
            <div class="col-md-12 text-left">
                <a asp-action="Edit" asp-route-id="@Model.IcuId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div> *@
</div>
